@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(218, 218, 218);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25%;
    height: 500px;
    border: 1px solid grey;
    background-color: white;
    margin-top: 50px;
}
img{
    height: 100px;
    width: 100px;
    margin-top: 8%;
}
h1{
    font-size: 24px;
    color: rgb(114, 112, 112);
    margin: 25px 0px;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
}
input{
    border-style: none;
    height: 50px;
    width: 250px;
    border: 1px solid rgb(172, 171, 171);
    padding: 0 20px;
}
.email{
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
}
.password{
    border-radius: 0px 0px 5px 5px;
}
.login{
    background-color: rgb(21, 21, 105);
    color: white;
    height: 60px;
    width: 293px;
    border-style: none;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 25px;
}
.login:hover{
    background-color: rgb(22, 22, 163);
}
.nopass{
    margin-top: 10px;
    border-radius: 15px;
    background-color: white;
    color: grey;
    border-style: none;
    border: 1px solid  rgb(114, 112, 112);
    font-size: 12px;
    height: 25px;
    width: 130px;
}