.cuadrado{
    width: 200px;
    height: 200px;
    background-color: blue;
    /*transition: background-color 0.5s, margin-left 3s, margin-top 3s, border-radius 1s;*/
    transition-property: background-color, width;
    /*transition-delay: 0.3s;*/
    transition-duration: 5s;
    /*transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
    transition-timing-function: cubic-bezier(0.06, 1.71, .89, -0.77);
}

.cuadrado:hover{
    background-color: pink;
    width: 500px;
    /*margin-left: 50px;
    margin-top: 100px;*/
    /*border-radius: 100px;*/
}

input{
    width: 100px; 
    height: 40px;
    transition: all 2s;
}

input:focus{
    width: 200px;
    font-size: 24px;
}